{% extends 'base.html' %}

{% load static %}

{% block 'titulo' %}Dashboard{% endblock %}

{% block 'head' %}

<!-- <link rel="stylesheet" href="{% static 'css\home.css' %}"> -->

{% endblock %}

{% block 'body' %}
{% include 'template.html' %}


<div class="container">
    <nav aria-label="breadcrumb bg-primary">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'prod_ini' %}">Produção</a></li>
            <li class="breadcrumb-item active" aria-current="page">Britagem</li>
        </ol>
    </nav>
    <div class="row">       
        <div class="col-3 align-self-end">
            <h4><span class="badge rounded-pill align-self-center text-bg-primary"><i class="bi bi-minecart"></i> Tn Britada para Calcário</span></h4>
            <div class="card mb-3">
                <div class="card-header bg-primary text-light"><h6><i class="bi bi-clipboard-data"></i> Atual</h6></div>
                <div class="card-body text-center">
                  <h1 style=" color:#4F4F4F;"><span>{{ rom_calcario_dia }} tn</span></h1>
                </div>
            </div>
            <h4><span class="badge rounded-pill align-self-center text-bg-primary">Tn Britada para Cal</span></h4>
            <div class="card mb-1">
                <div class="card-header bg-primary text-light"><h6><i class="bi bi-clipboard-data"></i> Atual</h6></div>
                <div class="card-body text-center">
                <h1 style=" color:#4F4F4F;"><span>{{ rom_cal_dia }} tn</span></h1>
                </div>
            </div>
        </div>
</br>   
        
        <div class="col-3 align-self-end">
            <div class="card mb-5">
                <div class="card-header bg-primary text-light"><h6><i class="bi bi-clipboard-data"></i> Acumulado no Mês</h6></div>
                <div class="card-body text-center">
                  <h1 style=" color:#4F4F4F;"><span>{{ rom_calcario_mes }} tn</span></h1>
                </div>
            </div>
            <div class="card mb-1">
                <div class="card-header bg-primary text-light"><h6><i class="bi bi-clipboard-data"></i> Acumulado no Mês</h6></div>
                <div class="card-body text-center">
                <h1 style=" color:#4F4F4F;"><span>{{ rom_cal_mes }} tn</span></h1>
                </div>
            </div>
        </div>
        <div class="col-3 align-self-end">
            <div class="card mb-5">
                <div class="card-header bg-primary text-light"><h6><i class="bi bi-clipboard-data"></i> Acumulado no Ano</h6></div>
                <div class="card-body text-center">
                  <h1 style=" color:#4F4F4F;"><span>{{ rom_calcario_ano }} tn</span></h1>
                </div>
            </div>

            <div class="card ">
                <div class="card-header bg-primary text-light"><h6><i class="bi bi-clipboard-data"></i> Acumulado no Ano</h6></div>
                <div class="card-body text-center">
                <h1 style=" color:#4F4F4F;"><span>{{ rom_cal_ano }} tn</span></h1>
                </div>
            </div>
        </div> 

        <div class="col-3 align-self-center">
            <h4><span class="badge rounded-pill align-self-center text-bg-primary"><i class="bi bi-clock-history"></i> Paradas Britador Último Dia</span></h4>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action active">
                        <div class="d-flex w-100   justify-content-between">
                            <h6 >Descrição da Parada <span> <small style="padding-left: 40px;"> Tempo --- %</small> </span> </h6>
                        </div>
                    </li>    
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    15-Manutenção Mecânica
                    <span>{{ y }}h</span>
                    <span>{{ x }}%</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    09-Preparando Local
                    <span>{{ b }}h</span>
                    <span>{{ a }}%</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    26-Embuchamento 
                    <span>{{ d }}h</span>
                    <span>{{ c }}%</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    06-Almoço/janta
                    <span>{{ f }}h</span>
                    <span>{{ e }}%</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    27-Setup (tela/peneira)
                    <span>{{ h }}h</span>
                    <span>{{ g }}%</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    53-Alimentador desligado
                    <span>{{ j }}h</span>
                    <span>{{ i }}%</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    14-Falta de matéria-prima
                    <span>{{ m }}h</span>
                    <span>{{ l }}%</span>
                    </li>
                </ul>   
        </div>
    
    </div>  <!--endhow-->       
            
 <hr>   
    <div class="row ">
        <table class="table table-hover">
            <thead >
                <tr>
                    <th scope="col"><h6>Origem</h6></th>
                    <th scope="col"><h6>Destino</h6></th>
                    <th scope="col"><h6>Volume no último dia</h6></th>
                    <th scope="col"><h6>Volume acumulado no mês</h6></th>
                    <th scope="col"><h6>Volume acumulado no ano</h6></th>
                </tr>    
            </thead>
            <tbody>
                <tr>
                    <td>Mina</td>
                    <td>Britador</td>
                    <td>{{ tot_tn_mn_brit }} t</td>
                    <td>{{ tot_tn_mn_brit_me }} t</td>
                    <td>{{ tot_tn_mn_brit_ano }} t</td>
                </tr>
                <tr>
                    <td>Mina</td>
                    <td>Estoque</td>
                    <td>{{ tot_tn_me }} t</td>
                    <td>{{ tot_tn_me_me }} t</td>
                    <td>{{ tot_tn_me_ano }} t</td>
                </tr>
                <tr>
                    <td>Estoque</td>
                    <td>Britador</td>
                    <td>{{ tot_tn_eb }} t</td>
                    <td>{{ tot_tn_eb_me }} t</td>
                    <td>{{ tot_tn_eb_ano }} t</td>
                </tr>
                <tr>
                    <td>Mina</td>
                    <td>Rejeito</td>
                    <td>{{ tot_tn_mr }} t</td>
                    <td>{{ tot_tn_mr_me }} t</td>
                    <td>{{ tot_tn_mr_ano }} t</td>
                </tr>
            </tbody>
        </table>
    </div><!--endrow-->

</div>







{% endblock %}